<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vehi-cool Rentals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center pt-5">
    <h1>Vehi-cool Rentals</h1>
    <p><i>Your future car awaits you!</i></p>
    <h2>Car Information:</h2>
    <table class="table">
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Value</th>
        </tr>
        <tr>
            <td th:text="${car.year}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.price}"></td>
        </tr>
    </table>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>
