<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Car Details</title>
  <link rel="stylesheet" th:href="@{/css/themes/vapor.min.css}" />
</head>
<body>
<!-- Include the layout template - header section -->
<div th:replace="layout :: header"></div>

<div class="container mt-5">
  <h1 class="text-center">Car Details</h1>
  <div class="d-flex justify-content-center">
    <table class="table table-striped mt-3">
      <tbody>
      <tr>
        <td>Manufacturer Common Name:</td>
        <td th:text="${carDetails.Mfr_CommonName}"></td>
      </tr>
      <tr>
        <td>Manufacturer ID:</td>
        <td th:text="${carDetails.Mfr_ID}"></td>
      </tr>
      <tr>
        <td>Manufacturer Name:</td>
        <td th:text="${carDetails.Mfr_Name}"></td>
      </tr>
      <tr>
        <td>Other Manufacturer Details:</td>
        <td th:text="${carDetails.OtherManufacturerDetails}"></td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td th:text="${carDetails.PostalCode}"></td>
      </tr>
      <tr>
        <td>State Province:</td>
        <td th:text="${carDetails.StateProvince}"></td>
      </tr>
      <tr>
        <td>Vehicle Types:</td>
        <td>
            <span th:each="vehicleType : ${carDetails.VehicleTypes}">
              <a th:href="@{'vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMakeId/' + vehicleType.VehicleTypeId}">
                <span th:text="${vehicleType.VehicleTypeName}"></span>
              </a>
              <span th:if="${!#lists.last}">, </span>
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Include the layout template - footer section -->
<div th:replace="layout :: footer"></div>
</body>
</html>
