<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/themes/yeti.min.css}" />
    <title>My Rentals</title>
</head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th{
        background-color: #6e48be;
        color: white;
    }
</style>

<body>
<div th:replace="layout :: header"></div>
<div class="container text-center pt-5">
    <h1>Rentals Page</h1>
    <p th:text="${message}"></p>
</div>

<table>
    <tr>
        <th>Image of Car</th>
        <th>Car Model</th>
        <th>Year</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><img src="/images/stockcar3.jpg" alt="Car Image" width="300" height="200" /></td>
        <td>Jeep Wrangler</td>
        <td>2020</td>
        <td>$40/day</td>
    </tr>
    <tr>
        <td><img src="/images/stockcar1.jpg" alt="Car Image" width="300" height="200" /></td>
        <td>Honda Civic</td>
        <td>2023</td>
        <td>$50/day</td>
    </tr>
</table>
<div th:replace="layout :: footer"></div>
</body>
</html>