<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <div class="container text-center pt-5">
        <h1>Search Page</h1>
        <p th:text="${message}"></p>
    </div>

    <form action="action_page.php">
        <div class="container">
            <h1>Search Vehi-Cool rentals</h1>
            <p>Great deals on car rentals</p>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="car-name">Name of Vehicle</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="year-model">Year of Model</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="location">Location</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <hr>
            <button type="button" class="btn btn-primary">Search</button>

        </div>
    </form>

</body>
</html>